@function randomTran($max, $min) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));

    @return $randomNum;
}

.petal {
	position: fixed;
	width: 100%;
    top: -50px;
    text-align: center;
}

.petal span {
    display: inline-block;
	/* position: absolute; */
	/* top: -10%;
	left: 0; */
	width: 12px;
	height: 12px;
    border-radius: 200px 10px 200px 200px;
    transform: skewX(30deg);
    backface-visibility: visible;
	background: linear-gradient(to bottom, #FAACA8, #CDD6F3);
    animation: petalAnim1 10s ease infinite;
}

/* add animation */
.petal span:nth-child(3n+2) {
    animation: petalAnim2 10s ease infinite;
}
.petal span:nth-child(3n+1) {
    animation: petalAnim3 10s ease-in-out infinite;
}

/* side position */
.petal span:nth-of-type(1) {
	left: 0%;
}

.petal span:nth-of-type(2) {
	left: 2%;
}

.petal span:nth-of-type(3) {
	left: 4%;
}

.petal span:nth-of-type(4) {
	left: 6%;
}

.petal span:nth-of-type(5) {
	left: 8%;
}

.petal span:nth-of-type(6) {
	left: 10%;
}

.petal span:nth-of-type(7) {
	left: 12%;
}

.petal span:nth-of-type(8) {
	left: 14%;
}

.petal span:nth-of-type(9) {
	left: 16%;
}

.petal span:nth-of-type(10) {
	left: 18%;
}

.petal span:nth-of-type(11) {
	left: 20%;
}

.petal span:nth-of-type(12) {
	left: 22%;
}

.petal span:nth-of-type(13) {
	left: 24%;
}

.petal span:nth-of-type(14) {
	left: 26%;
}

.petal span:nth-of-type(15) {
	left: 28%;
}

.petal span:nth-of-type(16) {
	left: 30%;
}

.petal span:nth-of-type(17) {
	left: 32%;
}

.petal span:nth-of-type(18) {
	left: 34%;
}

.petal span:nth-of-type(19) {
	left: 36%;
}

.petal span:nth-of-type(20) {
	left: 38%;
}

.petal span:nth-of-type(21) {
	left: 40%;
}

.petal span:nth-of-type(22) {
	left: 42%;
}

.petal span:nth-of-type(23) {
	left: 44%;
}

.petal span:nth-of-type(24) {
	left: 46%;
}

.petal span:nth-of-type(25) {
	left: 48%;
}

.petal span:nth-of-type(26) {
	left: 50%;
}

.petal span:nth-of-type(27) {
	left: 52%;
}

.petal span:nth-of-type(28) {
	left: 54%;
}

.petal span:nth-of-type(29) {
	left: 56%;
}

.petal span:nth-of-type(30) {
	left: 58%;
}

.petal span:nth-of-type(31) {
	left: 60%;
}

.petal span:nth-of-type(32) {
	left: 62%;
}

.petal span:nth-of-type(33) {
	left: 64%;
}

.petal span:nth-of-type(34) {
	left: 66%;
}

.petal span:nth-of-type(35) {
	left: 68%;
}

.petal span:nth-of-type(36) {
	left: 70%;
}

.petal span:nth-of-type(37) {
	left: 72%;
}

.petal span:nth-of-type(38) {
	left: 74%;
}

.petal span:nth-of-type(39) {
	left: 76%;
}

.petal span:nth-of-type(40) {
	left: 78%;
}

.petal span:nth-of-type(41) {
	left: 80%;
}

.petal span:nth-of-type(42) {
	left: 82%;
}

.petal span:nth-of-type(43) {
	left: 84%;
}

.petal span:nth-of-type(44) {
	left: 86%;
}

.petal span:nth-of-type(45) {
	left: 88%;
}

.petal span:nth-of-type(46) {
	left: 90%;
}

.petal span:nth-of-type(47) {
	left: 92%;
}

.petal span:nth-of-type(48) {
	left: 94%;
}

.petal span:nth-of-type(49) {
	left: 96%;
}

.petal span:nth-of-type(50) {
	left: 98%;
}

/* size */
.petal span:nth-of-type(2n+2) {
    background: linear-gradient(to right, #fffbd5, #F15F79);
}

.petal span:nth-of-type(3n+1) {
    background: linear-gradient(to right, #DD5E89, #F7BB97);
}

.petal span:nth-of-type(3n+3) {
    transform: rotateX(-180deg);
}

.petal span:nth-of-type(2n+2) {
    width: 8px;
    height: 8px;
    box-shadow: 1.5px 1.5px 8px #fc7bd1;
}

.petal span:nth-of-type(3n+3) {
    width: 6px;
    height: 8px;
    box-shadow: 1px 1px 6px #fc7bd1;
}
.petal span:nth-of-type(n) {
    height: 13px;
    width: 16px;
}

.petal span:nth-of-type(2n+1) {
    height: 10px;
    width: 13px;
}

.petal span:nth-of-type(3n+2) {
    height: 14px;
    width: 13px;
}

/* animation-duration */
.petal span:nth-of-type(4n+1) {
	animation-duration: 12s;
}

.petal span:nth-of-type(4n+2) {
	animation-duration: 21s;
}

.petal span:nth-of-type(4n+3) {
	animation-duration: 14s;
}

.petal span:nth-of-type(4n+4) {
	animation-duration: 13s;
}


/* animation-delay */
.petal span:nth-of-type(11n+1) {
	animation-delay: 0s;
}

.petal span:nth-of-type(11n+2) {
	animation-delay: 9s;
}

.petal span:nth-of-type(11n+3) {
	animation-delay: 2s;
}

.petal span:nth-of-type(11n+4) {
	animation-delay: 5s;
}

.petal span:nth-of-type(11n+5) {
	animation-delay: 6s;
}

.petal span:nth-of-type(11n+6) {
	animation-delay: 7s;
}

.petal span:nth-of-type(11n+7) {
	animation-delay: 3s;
}

.petal span:nth-of-type(11n+8) {
	animation-delay: 1s;
}

.petal span:nth-of-type(11n+9) {
	animation-delay: 2s;
}

.petal span:nth-of-type(11n+10) {
	animation-delay: 11s;
}

.petal span:nth-of-type(11n+11) {
	animation-delay: 10s;
}

/* animation */
@keyframes petalAnim1 {
	0% {
		transform: translate3d(0, 0, 0) rotate(0);
	}

	100% {
		transform: translate3d(#{randomTran(0, 300)}px, 1200px, 0px) rotate(180deg);
	}
}

@keyframes petalAnim2 {
	0% {
		transform: translate3d(0, 0, 0) rotateX(0);
	}

	100% {
		transform: translate3d(#{randomTran(-400, -200)}px, 1100px, 100px) rotateX(180deg);
	}
}

@keyframes petalAnim3 {
    0% {
		transform: translate3d(0, 0, 0) rotateX(0);
	}

	100% {
		transform: translate3d(#{randomTran(150, 250)}px, 1080px, 100px) rotateX(180deg);
	}
}